@import-normalize;

* {
    box-sizing: border-box;
}

html {
    --black: #000000FF;
    --white: #FFFFFFFF;
    --white-faded: #FFFFFF33;
    --blue: #00008BFF;
    --blue-faded: #00008B99;
}

body {
    --primary: var(--black);
    --primary-inverse: var(--white);
    --primary-inverse-alpha: var(--white-faded);
    --primary-bg: var(--blue);
    --primary-bg-alpha: var(--blue-faded);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    color: var(--primary);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
